BOOKCASE_HOST=0.0.0.0
BOOKCASE_PORT=3000
BOOKCASE_DB=./data/bookcase.db
# Set both to serve HTTPS (needed for phone camera access); see README
# BOOKCASE_TLS_CERT=./certs/bookcase.pem
# BOOKCASE_TLS_KEY=./certs/bookcase-key.pem
